<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AppiusViewEngine" type="AppiusMVC.ViewConfiguration.AppiusViewConfigurationSection"/>
  </configSections>
  <AppiusViewEngine>
    <Views>
      <add name="viewRenderingPath" path="~/Views/Shared/{0}.cshtml"/>
      <add name="viewLayoutPath" path="~/Views/Layouts/{0}.cshtml"/>
    </Views>
    <Master>
      <add name="masterRenderingPath" path="~/Views/Master/{0}.cshtml"/>
    </Master>
    <Partial>
      <add name="partialRenderingPath" path="~/Views/Shared/{0}.cshtml"/>
    </Partial>
  </AppiusViewEngine>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
