<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LocationServiceBinding" />
                <binding name="c" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://proto.ctemo.appius.co.uk/Services/LocationService.svc" binding="basicHttpBinding" bindingConfiguration="LocationServiceBinding" contract="LocationService.ILocationService" name="LocationServiceEndpoint" />
            <endpoint address="http://proto.ctemo.appius.co.uk/Services/ComputeService.svc" binding="basicHttpBinding" bindingConfiguration="LocationServiceBinding" contract="ComputeService.IComputeService" name="ComputeServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>