@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CTE MO - Prototype</title>
    <meta charset="utf-8">
    <!-- core -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">
    <link href="Assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="Assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- custom -->
    <link href="Assets/Custom/css/Style.css" rel="stylesheet">
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Shared/Scaffold/_Header.cshtml");
        RenderBody();
        Html.RenderPartial("~/Views/Shared/Scaffold/_Footer.cshtml");
    }
</body>
</html>
