<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsInTestMode" value="true"/>
    <add key="UseLocalCache" value="true"/>
    <add key="CacheConnection" value="insert redis string"/>
    <add key="StorageConnection" value="insert table store string"/>
    <add key="BlobConnection" value="insert table store string"/>
  </appSettings>
</configuration>