@{
    Layout = null;
}
<!-- header -->
<nav class="menu" id="memu">
    <ul class="menu-wrap">
        <li><a href="/" class="smoothscroll">Home</a></li>
        <li><a href="/upload" class="smoothscroll">Upload File</a></li>
        <li><a href="/query" class="smoothscroll">Query Data</a></li>
    </ul>
</nav>
<!-- end of header -->